.directory
*.swp
*.swo

*.dat
*.log
*.bak
*.out
*.dot
*.rs

*.txt
*.json
data/*.pt
*.ot

target/
_build/
data/
example/testdata/
example/test/
tmp/
bak/
gen/.merlin
**/*.rs.bk
Cargo.lock
__pycache__

libtch/libtorch/
libtch/fake_cuda_dependency.cpp
libtch/dummy_cuda_dependency.cpp
libtch/fake_cuda_dependency.cpp.cpu
libtch/lib.go.cpu
libtch/lib.go

.ipynb_checkpoints
